/* GENERAL STYLES */

:root {
    --greenpea-dark1: #034229;
    --greenpea-dark2: #044e32;
    --greenpea: #115b41;
    --greenpea-light: #226c54;
    --asparagus-dark1: #4d641e;
    --asparagus-dark2: #637930;
    --asparagus: #798f42;
    --asparagus-light: #97ad5a;
    --offwhite: #f6eee3;
    --orange: rgb(255, 85, 0);
    --lightorange: orange;
    --main-bg-color: var(--greenpea-dark1);
    --font-headings: "JetBrains Mono", monospace;
    --font-body: "Poppins", sans-serif;
    --padding: 2rem;
  }
  

@font-face {
    font-family: "Arcon";
    src: url("./assets/fonts/arcon/Arcon-Regular.otf");
}
@font-face {
    font-family: "SpecialElite";
    src: url("./assets/fonts/special-elite/SpecialElite.ttf");
}

/* GET RID OF TWINE STYLES */
#story {
    margin: 0;
  }
  
  #passages {
    max-width: 100%;
    width: 100%;
  }

.passage{
    width: 100%; 
    height: 100%; 
}
  
  #story a.link-external:after {
    content: "";
  }
  
  button,
  .inline-btn-wrapper > a {
    background-color: var(--color-yellow);
    color: var(--offwhite);
    border: var(--offwhite) 1px solid;
    border-radius: 3px;
    font-family: var(--font-headings);
    text-transform: uppercase;
    padding: 5px;
    box-shadow: var(--accent-color-shadow) 4px 4px;
  }
  
  button:hover {
    background-color: var(--color-pink);
    border: var(--offwhite) 1px solid;
    color: var(--offwhite);
  }
  
  button:focus,
  .inline-btn-wrapper > a {
    transform: translate(2px, 2px);
    box-shadow: var(--accent-color-shadow) 1px 1px;
  }
  
  a {
    color: var(--accent-color-secondary);
  }
  
  a:active {
    background-color: var(--color-pink);
  }
  
  a:hover {
    color: var(--offwhite);
  }
  
  #story a.link-external:after {
    content: "";
  }
  
  #story {
    margin: 0;
  }
  
  body[data-tags~="t8n-dissolve"] .transition-in {
    position: absolute;
    opacity: 0;
  }
  body[data-tags~="t8n-dissolve"] .passage {
    transition: 1s;
    -webkit-transition: 1s;
  }
  body[data-tags~="t8n-dissolve"] .transition-out {
    position: absolute;
    opacity: 0;
  }

.hide{
    display: none;
}

body {
	background-color: #000;
	font-family: "Arcon", monospace;
	font-size: 10px;
	height: 100vh;
	display:flex;
	justify-content:center;
	align-items: center;
    overflow: scroll;
}


main{
	padding: 2rem;
    /* margin-top: 6rem; */
    margin-bottom: 10rem;
}

.main-section{
    background:#000
}


button{
    background-color: transparent;
    border: #fff 1px solid;
    border-radius: 3px;
}

button:hover{
	background-color:#cf1b98;
	border: #fff 1px solid;
	color: #fff;
}

img.parrots {
  max-width: 300px
}

.img.joker > button > img {
  max-width: 200px
}

.codeword1-input > input[type="text"] {
    min-width: 8rem;
    max-width: 10rem;
    display: inline;
    margin-bottom: 5rem;
}


/* MOBILE  */

@media screen and (max-width: 700px) {
	#passages {
height: 100%;
	font-size: 1.8rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

#story {
height: 100%;
width: 100%;
}

#passage-prestart{
	height: 100%
}

main {
	height: 100%;

}

a:active {
  background-color: #f2647d;
}

input[type=text] {
    min-width: 14em;
}

}

/* HEADERS  */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);

    width: 100%;
  }

  header > h3 {
    margin-block-end: 0;
  }
  
  header.column {
    flex-direction: column;
  }
  
  header.column > p {
    text-align: center;
  }
  
  .header-item > h1 {
    font-size: 2rem;
  }
  
  .header-item > h3.subtitle {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-body);
    margin-block-end: 2rem;
  }


/* FOOTER  */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 1rem;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* LANDING PAGE */

.landing{
	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
background-image: url("https://youhavefoundconey.net/CG/what/assets/img/coneybg.jpg");
    color: #000 ;
    height:100vh;
    width:100vw;
    margin-top:0

}

.landing-wrapper{
        background: #fff;   
        width:85vw;
        padding: 3.5vw;
        display:flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}

.landing > h1 {
	font-weight: 500
}

#resultbutton > button {
	background-color:#000;
	border: #fff 1px solid;
	color: #fff;
}


.landing > button:hover {
	background-color:#f2647d;
	border: #fff 1px solid;
	color: #fff;
}

.title{
font-weight: 100;
font-size: 3rem;
}

.story-title{
font-weight: 100;
font-size: 1.6rem;
}

.logo{
    max-width: 40%;
}

@media screen and (max-width: 700px) {
.title {
font-weight: 100;
font-size: 3rem;
}

.logo{
    max-width: 90%;
}
}

/* ANIMATION */

.coneylogoglitch{
	/* position:absolute;
    width: 529px; */
  opacity: 0.85;
	transform:translate(80px, 0px);
	 animation: 1s logoglitch linear infinite both;
}

@keyframes logoglitch {
  0% 		{width:590px;transform:translate(60px, 40px)}
  49.999%	{width:590px;transform:translate(60px, 40px)}
  50%		{width:300px;transform:translate(500px, 0px)}
  54.999%	{width:300px;transform:translate(500px, 0px)}
  55%		{width:590px;transform:translate(60px, 40px)}
  94.999%	{width:590px;transform:translate(60px, 40px)}
  95%		{width:300px;transform:translate(500px, 0px)}
  99.999%	{width:300px;transform:translate(500px, 0px)}
  100%		{width:590px;transform:translate(60px, 40px)}
}

.glitch-shape1{    
  background-color: cyan;
  position:absolute;
  width: 100px;
  height: 500px;
  opacity: 0.85;
  animation: 2s glitchshape1 steps(5, start) infinite forwards;
}
.glitch-shape2{    
  background-color: rgb(0, 204, 51);
  position:absolute;
  width: 100px;
  height: 500px;
  opacity: 0.85;
  animation: 2s glitchshape2 steps(5, start) infinite forwards reverse;
}
.glitch-shape3{    
  background-color: cyan;
  position:absolute;
  width: 979px;
  height: 24px;
  opacity: 0.85;
  animation: 1s glitchshape3 linear infinite forwards;
}
.glitch-shape4{    
  background-color: blue;
  position:absolute;
  width: 2000px;
  height: 40px;
  transform:translate(-100px, 30px);
}
.glitch-shape5{    
  background-color: black;
  position:absolute;
  width: 525px;
  height: 92px;
  transform:translate(20px, 500px);
}

@keyframes glitchshape1 {
  0% 	{background-color:#70fdee; width:1000px;height:300px;transform:translate(690px, 49px)}
  25%	{background-color: #cb3d24; width:540px;height:1049px;transform:translate(-355px, -1380px)}
  50%	{background-color: #1abf35; width:68px;height:456px;transform:translate(880px, 936px)}
  75%	{background-color: #f2952c; width:1078px;height:366px;transform:translate(314px, -330px)}
  100%	{background-color: #3a9e8d; width:816px;height:1196px;transform:translate(-1020px,
361px)}
}

@keyframes glitchshape2 {
  0% 	{background-color: #5059ab; width:663px;height:1199px;transform:translate(489px,207px)}
  25%	{background-color: #dc1b02; width:1220px;height:300px;transform:translate(-95px, 345px)}
  50%	{background-color: #ef2556; width:723px;height:938px;transform:translate(1195px, 614px)}
  75%	{background-color: #e3bcc0; width:1238px;height:508px;transform:translate(1200px, -106px)}
  100%	{background-color: #f266a4; width:68px;height:456px;transform:translate(-20px, 669px)}
}
@keyframes glitchshape3 {
  0% 	{transform:translate(900px, 800px)}
  100%	{transform:translate(1000px,800px)}
}

.filmgrain{
    position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  z-index: -1;
  background: transparent url("https://youhavefoundconey.net/CG/what/assets/img/filmgrain.gif") 0 0;
  background-size: 1000px;
  opacity: 0.25;
  overflow: hidden
}

.imgfadeout{
	animation: 6.5s imgfadeout ease 1 forwards;
}

@keyframes imgfadeout {
  0% 	{ opacity: 1; }
  100%	{ opacity: 0; }
}

@keyframes bgfadeout {
  0% 	{ background-color: rgba(255, 255, 255, 1) }
  100%	{ background-color: rgba(255, 255, 255, 0) }
}

@keyframes bgfadein {
  0% 	{ background-color: rgba(255, 255, 255, 0) }
  100%	{ background-color: rgba(255, 255, 255, 1) }
}

.whitebgfadein{    
  background-color: white;
    position:absolute;
	top:3%;
  	bottom:3%;
  	left:2%;
  	right:2%;
  z-index: 1;
  animation: 6.5s bgfadein ease 1 forwards;
}

.whitebgfadeout{    
  background-color: white;
    position:absolute;
	top:3%;
  	bottom:3%;
  	left:2%;
  	right:2%;
  z-index: 1;
  animation: 6.5s bgfadeout ease 1 forwards;
}



.psa{
  font-family: 'SpecialElite', sans-serif;
	font-size: 20px;
  font-weight: 500;
	color: white;
  background-color:transparent;
}

.psalogobright{
    position:absolute;
  	top: 50%;
   left: 50%;
   width: 750px;
   height: 750px;
   margin-top: -375px; /* Half the height */
   margin-left: -375px; /* Half the width */
  filter: brightness(100%);
   	z-index: -1;
}

.psalogodark{
    position:absolute;
  	top: 50%;
   left: 50%;
   width: 750px;
   height: 750px;
   margin-top: -375px; /* Half the height */
   margin-left: -375px; /* Half the width */
  filter: brightness(27%);
   	z-index: -2;
}

.psabg{
  background-image: url(https://youhavefoundconey.net/CG/what/assets/img/coneybg_dark.jpg);  
    position:absolute;
	top:0%;
  	bottom:0%;
  	left:0%;
  	right:0%;
  z-index: -10;
}

.normal{
  font-family: 'SpecialElite', sans-serif;
	font-size: 25px;
  font-weight: 500;
	color: black;
  /*background-color:white;
  background-blend-mode: normal;*/
}
.whitebg{    
  background-color: white;
    position:absolute;
	top:3%;
  	bottom:3%;
  	left:2%;
  	right:2%;
  z-index: -3;
}
.blackbg{    
  background-color: black;
    position:absolute;
	top:0%;
  	bottom:0%;
  	left:0%;
  	right:0%;
}
.glitchwhitebg{    
  background-color: white;
    position:absolute;
	top:3%;
  	bottom:3%;
  	left:2%;
  	right:2%;
  z-index: -3;
  animation: 0.1s bgglitch linear infinite forwards;
}

.whitebgfadein{    
  background-color: white;
    position:absolute;
	top:3%;
  	bottom:3%;
  	left:2%;
  	right:2%;
  z-index: 1;
  animation: 6.5s bgfadein ease 1 forwards;
}

.whitebgfadeout{    
  background-color: white;
    position:absolute;
	top:3%;
  	bottom:3%;
  	left:2%;
  	right:2%;
  z-index: 1;
  animation: 6.5s bgfadeout ease 1 forwards;
}

.coneylogoglitch{
	position:absolute;
    width: 529px;
  opacity: 0.85;
	transform:translate(80px, 0px);
	 animation: 1s logoglitch linear infinite both;
}

.filmgrain{
    position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  z-index: -1;
  background: transparent url(https://youhavefoundconey.net/CG/what/assets/img/filmgrain.gif) 0 0;
  background-size: 1000px;
  opacity: 0.25;
  overflow: hidden
}

.glitch-shape1{    
  background-color: cyan;
  position:absolute;
  width: 100px;
  height: 500px;
  opacity: 0.85;
  animation: 2s glitchshape1 steps(5, start) infinite forwards;
}
.glitch-shape2{    
  background-color: rgb(0, 204, 51);
  position:absolute;
  width: 100px;
  height: 500px;
  opacity: 0.85;
  animation: 2s glitchshape2 steps(5, start) infinite forwards reverse;
}
.glitch-shape3{    
  background-color: cyan;
  position:absolute;
  width: 979px;
  height: 24px;
  opacity: 0.85;
  animation: 1s glitchshape3 linear infinite forwards;
}
.glitch-shape4{    
  background-color: blue;
  position:absolute;
  width: 2000px;
  height: 40px;
  transform:translate(-100px, 30px);
}
.glitch-shape5{    
  background-color: black;
  position:absolute;
  width: 525px;
  height: 92px;
  transform:translate(20px, 500px);
}

@keyframes bgglitch {
  0% 	{transform:translate(0px, 0px)}
  100%	{transform:translate(-20px,20px)}
}

@keyframes logoglitch {
  0% 		{width:590px;transform:translate(60px, 40px)}
  49.999%	{width:590px;transform:translate(60px, 40px)}
  50%		{width:300px;transform:translate(500px, 0px)}
  54.999%	{width:300px;transform:translate(500px, 0px)}
  55%		{width:590px;transform:translate(60px, 40px)}
  94.999%	{width:590px;transform:translate(60px, 40px)}
  95%		{width:300px;transform:translate(500px, 0px)}
  99.999%	{width:300px;transform:translate(500px, 0px)}
  100%		{width:590px;transform:translate(60px, 40px)}
}

@keyframes glitchshape1 {
  0% 	{background-color:#70fdee; width:1000px;height:300px;transform:translate(690px, 49px)}
  25%	{background-color: #cb3d24; width:540px;height:1049px;transform:translate(-355px, -1380px)}
  50%	{background-color: #1abf35; width:68px;height:456px;transform:translate(880px, 936px)}
  75%	{background-color: #f2952c; width:1078px;height:366px;transform:translate(314px, -330px)}
  100%	{background-color: #3a9e8d; width:816px;height:1196px;transform:translate(-1020px,
361px)}
}

@keyframes glitchshape2 {
  0% 	{background-color: #5059ab; width:663px;height:1199px;transform:translate(489px,207px)}
  25%	{background-color: #dc1b02; width:1220px;height:300px;transform:translate(-95px, 345px)}
  50%	{background-color: #ef2556; width:723px;height:938px;transform:translate(1195px, 614px)}
  75%	{background-color: #e3bcc0; width:1238px;height:508px;transform:translate(1200px, -106px)}
  100%	{background-color: #f266a4; width:68px;height:456px;transform:translate(-20px, 669px)}
}
@keyframes glitchshape3 {
  0% 	{transform:translate(900px, 800px)}
  100%	{transform:translate(1000px,800px)}
}

.logoToGlitch {
  width: 9rem;
}

.message-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: end;
    gap: 1rem;
}

.message-container{
 background-color: #fff;
    /* background: url(http://remote.co.com/UCA/assets/img/paperbackground.jpg); */
    padding: 1.5rem;
    color: black;
    flex-grow: 1;
   border-radius: 10px 10px 10px 0;
    flex-grow:1
  }

.message-circle{
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 50%;
}
/* //////// */

input[type="text"] {
  text-align: center;
 	color: black;
	background-color: white;
    border-radius: 0.5rem;
    margin-top: 2rem;
}
input[type="text"]:hover {
  text-align: center;
	color: white;	
  	background-color: black;
}
input[type="text"]:focus{
  text-align: center;
	color: white;	
  	background-color: black;
}

.biginput input[type="text"] {
  text-align: center;
 	color: #9900ff;
  background-color: black;
  font-size: 35px;
}
.biginput input[type="text"]:hover {
  text-align: center;
	color: black;	
  	background-color: #9900ff;
  font-size: 35px;
}
.biginput input[type="text"]:focus{
  text-align: center;
	color: #9900ff;	
  	background-color: black;
  font-size: 35px;
}

.center-fit { 
    display: block;
  height:auto; 
  width:auto; 
    margin-left: auto;
  margin-right: auto;
  max-height:100%;
  max-width:90%;
}

.voice-text{
  font-size: 30px;
  text-align: center;
}

.normal button {
   background-color: white;
  color: black;
  border: 2.5px solid black;
	border-radius: 2px;
}
.normal button:hover{
color: white;
  background-color:black;
}

.psa button {
   background-color: black;
  color: white;
  border: 2.5px solid white;
	border-radius: 2px;
}

.psa button:hover{
color: black;
  background-color:white;
}

.frontButton button{
   background-color: black;
  color: #9900ff;
  border: 2.5px solid #9900ff;
	border-radius: 15px;
}

.frontButton button:hover{
color: black;
  background-color: #9900ff;
}

@keyframes bgfadein {
  0% 	{ background-color: rgba(255, 255, 255, 0) }
  100%	{ background-color: rgba(255, 255, 255, 1) }
}

@keyframes bgfadeout {
  0% 	{ background-color: rgba(255, 255, 255, 1) }
  100%	{ background-color: rgba(255, 255, 255, 0) }
}

.imgfadein{
	animation: 6.5s imgfadein ease 1 forwards;
}

.imgfadeout{
	animation: 6.5s imgfadeout ease 1 forwards;
}

.imgfadeinfast{
	animation: 2s imgfadein ease 1 forwards;
}

.imgfadeoutfast{
	animation: 2s imgfadeout ease 1 forwards;
}

.imgfadeinhalf{
      position:absolute;
  	top: 50%;
   left: 50%;
   width: 750px;
   height: 750px;
   margin-top: -375px; /* Half the height */
   margin-left: -375px; /* Half the width */
  filter: brightness(27%);
   	z-index: -1;
	animation: 2s imgfadeinhalf ease 1 both;
}

.imgfadeouthalf{
      position:absolute;
  	top: 50%;
   left: 50%;
   width: 750px;
   height: 750px;
   margin-top: -375px; /* Half the height */
   margin-left: -375px; /* Half the width */
  filter: brightness(100%);
   	z-index: -1;
	animation: 2s imgfadeouthalf ease 1 both;
}


@keyframes imgfadein {
  0% 	{ opacity: 0; }
  100%	{ opacity: 1; }
}

@keyframes imgfadeout {
  0% 	{ opacity: 1; }
  100%	{ opacity: 0; }
}

@keyframes imgfadeinhalf {
  0% 	{ filter: brightness(27%); }
  100%	{ filter: brightness(100%); }
}
@keyframes imgfadeouthalf {
  0% 	{ filter: brightness(100%); }
  100%	{ filter: brightness(27%); }
}

.delete-effect{
animation: .8s delete infinite alternate;
  animation-fill-mode: both;
}

@keyframes delete {
  0% { transform: skewX(-15deg); filter:drop-shadow(-5px -20px 0px blue);}
  10% { transform: skewY(-5deg); filter:drop-shadow(-10px 10px 0px lime);}
  20% { transform: skewX(-15deg); filter:drop-shadow(8px 10px 0px red);}
  30% { transform: skewY(10deg);filter:drop-shadow(-10px 10px 0px lime);}
  40% { transform: skewX(-20deg); filter:drop-shadow(-5px -20px 0px blue);}
  50% { transform: skewX(15deg); filter:drop-shadow(8px 10px 0px red);}
  60% { transform: skewX(-15deg); filter:drop-shadow(-5px -20px 0px lime);}
  70% { transform: skewY(-5deg); filter:drop-shadow(-10px 10px 0px blue);}
  80% { transform: skewX(-15deg); filter:drop-shadow(8px 10px 0px red);}
  90% { transform: skewY(10deg);filter:drop-shadow(-10px 10px 0px lime);}
  100% { transform: skewX(15deg); filter:drop-shadow(8px 10px 0px red);}
}

.noise {
  position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  z-index: 10;
  background: transparent url(https://youhavefoundconey.net/CG/what/assets/img/noise.png) 0 0;
  background-size: 320px 320px;
	opacity: .75;
	animation: noise 1s steps(8,end) infinite both;
}

@keyframes noise {
  0% {
    transform: translateX(0px,0px); }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px,100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translateY(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}


.clue{
    font-style: italic;
    font-size: 1.4rem;
}

#coderesult {
    color: pink
}

/* BOOK  */
.book-container{

}

/* TIMER  */


#countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #countdown > .secs {
    font-family: var(--font-headings);
    font-size: 7rem;
    line-height: 5rem;
  }
  
  #countdown > .extra {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
  }


  header.timer{
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: end;
    padding: 4rem;
    background-color: black;
    width: 100%;
  }

  main.timer{
    margin-top: 15rem;
}

main.timermap{
 display: flex;
 align-items: center;
 justify-content: center;
}

#countdown.timermap > .secs{
    font-size: 12rem;
    line-height: 10rem;
}

.motto-container {
    text-align: center;
}

.motto-container > span{
    font-size: 7rem;
}

/* MULTI CODE WORDS  */

  .code-input.multibox > .multi-input-wrapper > input.macro-textbox,
.code-input.multibox > .multi-input-wrapper > div > input.macro-textbox {
  width: 7rem;
  min-width: inherit;
  color: black;
  margin-inline-end: 1rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
}

.code-input.multibox > .multi-input-wrapper > input.macro-textbox:focus {
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
}

.multi-input-wrapper {
  display: flex;
}


/* WARNING  */

body.red{
    background-color: #5d150b;
}

main.loading{
    text-align: center;
    align-items: center;
    display: flex;
}

h3.bigger{
    font-size: 4rem;
}

h3.biggest{
    font-size: 6rem;
}



/* MESSAGES  */


  
  .main-section.message.jude {
    background-color: #dfa86e;
    height: 100vh;
  }
  
  .main-section.message > #msgMount > span.sender {
    color: white;
    font-weight: 700;
    margin-left: 1rem;
    font-size: 1.3rem;
  }
  
  .main-section.message > #msgMount > p,
  .main-section.message > #msgMount > .voicenote {
    background-color: var(--asparagus-light);
    color: black;
    padding: 5px 8px;
    position: relative;
    margin-left: 1rem;
    border-radius: 8px;
    width: fit-content;
    font-size: 1.6rem;
  }
  
  .main-section.message > #msgMount > button {
    background-color: var(--asparagus-dark1);
    color: white;
    border: white solid 1px;
  }
  
  .main-section.message > #msgMount > p.final:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-right-color: var(--asparagus-light);
    border-left: 0;
    border-bottom: 0;
    margin-top: 3px;
    margin-left: -11px;
  }
  
  .main-section.message > #msgMount > .voicenote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .main-section.message > #msgMount > .voicenote > p {
    margin-bottom: 0;
  }
  
  .main-section.message > #msgMount > .voicenote > a > img {
    max-width: 40px;
    margin-right: 2rem;
  }
  
  main.instructions > ul {
    list-style: inherit;
  }
  main.instructions > ul > li {
    margin-block-end: 1rem;
  }
  
  /* loading  */
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(2);
      opacity: 1;
    }
  
    50% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(2);
      opacity: 0.2;
    }
  
    100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(2);
      opacity: 1;
    }
  }
  @keyframes pulse {
    0% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1);
    }
  
    50% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05);
    }
  
    100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1);
    }
  }
  .loading-img-wrapper > img, 
  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }

  @keyframes wobble {
    0% { transform: translateX(0%); } 
    15% { transform: translateX(-2.5%) rotate(-5deg); } 
    30% { transform: translateX(2%) rotate(3deg); } 
    45% { transform: translateX(-1.5%) rotate(-3deg); } 
    60% { transform: translateX(1%) rotate(2deg); }
    75% { transform: translateX(-0.5%) rotate(-1deg); }
    100% { transform: translateX(0%); } 
 } 
  
 .wobble {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }

  /* 360 IMAGE  */

header.pano{
position: inherit;
}

main.pano{
    margin: 0;
    padding: 0;
}
main.pano > iframe {
    min-height: 65vh;
  }
  
  footer.pano {
    display: flex;
    gap: 1rem;

  }
  
  footer.pano > #codewordWrapper {
    border: 2px solid white;
    color: black;
    background-color: rgb(147, 70, 182);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
    label {
      width: 100%;
      text-align: center;
      font-weight: 900;
    }
    .input-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
      .button-wrapper {
        button {
          font-size: 1.6rem;
        }
      }
    }
    .code-input {
      input {
        min-width: inherit;
        width: 12rem;
      }
    }
    #coderesult > h2 {
      margin-block-end: 0;
    }
  }

  .code-input.pano > input{
    margin-top: 0;
  }

  /* UPLOAD IMAGE  */

  input[type="file"]{
    width: 100%;
  } 

/* CHAPTER IMAGE */

main.chapter-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}